@{
	ViewData["Title"] = "Visitor Menu";
}

<h1 class="text-center">Visitor Menu</h1>

<div class="d-flex flex-column align-items-center mt-4">
	<a class="btn btn-primary m-2" href="@Url.Action("VisitorIndex", "Artworks")">View Artworks</a>
	<a class="btn btn-primary m-2" href="@Url.Action("VisitorIndex", "Artists")">View Artists</a>
	<a class="btn btn-secondary m-2" href="/">Back to Home</a>
</div>