@{
	ViewData["Title"] = "Home Page";
}

<div class="home-container">
	<h1>Welcome to the Art Gallery!</h1>

	<div class="text-center">
		<p>Choose how you want to continue:</p>
		<div class="button-group">
			<a class="btn btn-signup" href="/Auth/Register">Sign Up</a>
			<a class="btn btn-login" href="/Auth/Login">Log In</a>
			<a class="btn btn-visitor" href="/Visitor/Index">Continue as Visitor</a>
		</div>
	</div>
</div>